body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  li {
    font-weight: 400;
  }
}

a {
  text-decoration: none;
}

.items-center {
  display: flex;
  align-items: center;
}

.flex-center {
  @extend .items-center;
  justify-content: center;
}

.flex-between {
  @extend .items-center;
  justify-content: space-between;
}
