body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1rem 2rem;
  transition: box-shadow 0.3s ease-in-out;

  li {
    &.active {
      a {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
      }
    }
  }
}

a {
  text-decoration: none;
}

.items-center {
  display: flex;
  align-items: center;
}

.flex-center {
  @extend .items-center;
  justify-content: center;
}

.flex-between {
  @extend .items-center;
  justify-content: space-between;
}

.link-style {
  position: relative;
  color: #000;
  text-decoration: none;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -0.25rem;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: #000;
  }

  &:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}
